.sidebar{
  background-color: white;
  bottom:0px;
  left:0px;
  width:72px;
  top:55px;
  position:fixed;
  display: flex;
  flex-direction: column;
  z-index:200;
}

.button:hover{
  background-color: lightgray;
  cursor: pointer;
}

.home-icon, .explore-icon, .subs-icon, .ytmusic-icon, .originals-icon, .library-icon{
  width:25px;
  padding-inline:15px;
}

.button{
  height:75px;
  width:100%;
  background-color: white;

  /* experimental code */
  display:flex;
  flex-direction: column;
  padding-block:15px;
  border:0px;
  align-items: center;
  justify-content: center;


}

.text{
  font-size: xx-small;
  color:rgb(0, 0, 0)
}